.common-newsletter-component {
  position: relative;
  height: 350px;
  background-image: url('../../../assets/images/pic42.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .pink-btn {
    border: none;
    border-radius: 5px;
  }
  .pink-btn:hover {
    background-color: #152544;
    color: white;
  }
}
.common-newsletter {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(35, 39, 163, 0.7);
}
