.footer-component {
  background-color: #152544;

  .social-icon {
    margin: 0 10px;
    padding: 4px 8px;
    border: none;
    border-radius: 50%;
    color: hotpink;
  }
  .social-icon:hover {
    background-color: $pink;
    color: white;
  }
  a {
    color: white;
  }
  a:hover {
    color: $pink;
  }
}
.credits {
  background-color: #01082d;

  a {
    color: white;
  }
  a:hover {
    color: $pink;
  }
}
