.about-component {
  img {
    width: 100%;
  }
  .about {
    color: $pink;
    font-weight: 500;
  }
  h1 {
    color: $primary;
  }
  h2 {
    color: #474545;
  }
  span {
    color: #ff724e;
    font-weight: 700;
  }
}
