.analysis-component {
  img {
    width: 100%;
  }
  .title {
    color: $pink;
    font-weight: 500;
  }
  h1 {
    color: $primary;
    margin-bottom: 1rem;
  }
  .message-btn {
    background-color: $pink;
    color: $white;
    border: 1px solid $pink;
    padding: 12px 1.5rem;
    border-radius: 1.5rem;
    font-weight: 500;
  }
  .message-btn:hover {
    background-color: $white;
    color: $pink;
  }
}
