.feature-card {
  background-color: $lightpink;
  border: 1px solid $lightpink;
  border-radius: 5px;
  padding: 1rem 0;

  img {
    width: 100%;
    padding: 5px;
  }
}
.feature-card:hover {
  background-color: $gray;
  border: 1px solid $pink;
}
@media (max-width: 576px) {
  .feature-card {
    text-align: center;

    img {
      width: 45%;
      padding: 2rem;
    }
  }
}
