.newsletter-component {
  .subscribe-input {
    padding: 10px 15px;
    border: none;
  }
  .pink-btn {
    border: none;
    padding: 10px 1.5rem;
    border-radius: 5px;
  }
  .pink-btn:hover {
    background-color: #152544;
    color: white;
  }
}
